body {
    padding: 5px 25px 25px 25px;
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
    font-size: calc(8px + .5vw);
    color: #e2b394;
    text-align: center;
    background-color: #bababa;
    background-image: url("legion.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position-x: 20%;
}

#left {
  position: absolute;
  min-height: 100%;
  width: 15%;
  font-size: 1.5vw;
  background-color: rgba(0, 0, 0, .85);
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

#right {
  position: absolute;
  left: 20%;
  width: 75%;
  min-width: 480px;
  background-color: rgba(0, 0, 0, .85);
  min-height: 100%;
  padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
  color: #27a052;
}

h3 {
  font-size: calc(12px + .5vw);
}

nav {
  width: 90%;
  margin: 0 auto;
}

ul.nav {
  list-style:none;
  padding: 0;
  width: 90%;
  margin: 1vw;
  font-size: calc(8px + .5vw);
}

ul.nav h3 {
  margin: 5px 0;
  text-align: left;
}

ul.nav li {
  display:block;
  padding: 0;
  height: 35px;
  margin: .8vw 0;
}

ul.nav li a {
  text-decoration:none;
  padding:5px 0;
  width: 90%;
  background:#444f4c;
  color:#ddd;
  float:left;
  text-align:center;
  margin: auto;
}

ul.nav li a:hover {
  background:#6c666f;
  color:#000
}

ul.nav li a.current{
   color: #ffffff;
   background:#afacaa;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #6c666f;
  color: #000;
  text-align: center;
  padding: 5px 0;
  border-radius: 1vw;
  width: 100%;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  top: 0px;
  left: 105%;
  z-index: 100;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

#content {
  width: 100%;
  font-size: 1.5vw;
}

.header {
  color: inherit;
  font-weight: bold;
  font-family: 'Ultra', sans-serif;
  display: inline-block;
  margin: 5px 20px;
  font-size: calc(12px + .75vw);
}

.name, .metric {
  display: block;
}

.result {
  display: none;
}

.selectedResult {
  display: block;
}

#gear {
  margin: 5px;
  padding: 5px 0 20px 0;
  border: none;
}

#gearLeft {
  float: left;
  width: 40%;
  min-width: 400px;
  display: table;
}

#gearRight {
  float: right;
  width: 40%;
  min-width: 400px;
}

#gearWeapon {
  clear: both;
  position: relative;
  width: 40%;
  min-width: 200px;
  top: 20px;
  margin: 20px auto;
}

.gear {
  margin: 10px 0;
  width: 90%;
  min-width: 180px;
  font-size: calc(8px + .5vw);
  text-align: left;
  display: table-row;
  background-color: transparent;
  border-radius: 0;
}

.slot {
  margin: 5px 20px;
  padding: 5px 20px;
  width: 20%;
  display: table-cell;
  text-transform: capitalize;
}

.item {
  margin: 5px 2%;
  width: 60%;
  text-align: center;
  display: table-cell;
}

.item a {
  color: #cacaca;
}

#gear .header, #scaleFactors .header {
  display: block;
}

#scaleFactors {
  width: 100%;
  margin: 5px 0;
  padding: 0;
  font-size: calc(8px + .5vw);
  border: none;
}

.scale {
  background: transparent;
  border-radius: 0;
  width: 25%;
  display: inline-block;
  float: none;
  height: calc(28px + 1vw);
}

.scaleAttribute {
  height: calc(14px + .5vw);
  color: #e2b394;
}

.scaleValue {
  height: calc(14px + .5vw);
  color: #cacaca;
}

#stats {
  margin: 5px auto;
  padding: 0;
  font-size: calc(8px + .5vw);
  width: 100%;
}

#stats .header {
  width: 100%;
}

.statCategory {
  display: table;
  float: left;
  margin: 0 20px;
  width: 20%;
  min-width: 300px;
  border-collapse:collapse;
}

.stat {
  margin: 5px 5px;
  padding: 5px;
  font-size: calc(6px + .5vw);
  width: 100%;
  display: table-row;
}

.statCategoryHeader {
  font-size: calc(10px + .5vw);
  display: table-header-group;
  font-variant: small-caps;
  border: none;
}

.statName {
  float: left;
  padding: 0px 2%;
  display: table-cell;
  width: 15%;
  text-transform: capitalize;
  text-align: left;
}

.statBuffed {
  float: right;
  padding: 0px 2%;
  display: table-cell;
  width: 30%;
  color: #cacaca;
  text-align: right;
}

.statUnbuffed {
  float: right;
  padding: 0px 2%;
  display: table-cell;
  width: 30%;
  color: #cacaca;
  text-align: right;
}

.statCol {
  color: #e2b394;
}

#simComplete {
  width: 100%;
  font-size: calc(16px + .5vw);
  margin: 20px;
}

#history {
  width: 100%;
  font-size: calc(10px + .5vw);
}

.historyLine {
  width: 100%;
}

.historyIterations {
  display: inline-block;
  width: 20%;
}

.historyAction {
  display: inline-block;
  width: 40%;
}

.historyCompleted {
  display: inline-block;
  width: 30%;
}

#debug {
  position: absolute;
  top: 120%;
  background-color: rgba(77, 0, 0, 0.85);
}